@import "tailwindcss";
@import "@nuxt/ui";

@config "./tailwind.config.ts";

/* Добавляем шрифт Hector */
@font-face {
  font-family: "Hector";
  src: url("/hector-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bg-primary: #ffd700;
  --color-bg-secondary: #f1cf14;
  --color-bg-tertiary: #e2c114;
  --color-bg-white: #ffffff;
  --color-bg-gray: #f8f8f8;
  --color-text-primary: #181818;
  --color-text-secondary: #9a8722;
  --color-text-tertiary: #736728;
  --color-text-alternative-secondary: #8f8f8f;
  --color-text-gray-2: #717171;
  --color-negative: #ff191d;

  --ui-primary: ##ffd700;
  --ui-secondary: #ffffff;
  --ui-tertiary: #ffffff;
  --ui-bg-tertiary: #1be7be;
  --ui-text-tertiary: #1be7be;
}

:root[class~="dark"] {
  --color-bg-primary: #000000;
  --color-bg-primary-accent: #1be7be;
  --color-bg-secondary: #181818;
  --color-bg-tertiary: #292929;
  --color-bg-white: #ffffff;
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-primary: #1be7be;
  --color-text-secondary: #707070;
  --color-text-tertiary: #a6a6a6;
  --color-negative: #ff191d;

  --ui-primary: #1be7be;
  --ui-secondary: #707070;
  --ui-tertiary: #a6a6a6;
  --ui-bg-tertiary: #292929;
  --ui-text-tertiary: #a6a6a6;
}
