@import "tailwindcss";
@import "@nuxt/ui";

@config "./tailwind.config.ts";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* Добавляем шрифт Hector */
@font-face {
  font-family: "Hector";
  src: url("/hector-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Глобальные стили для черного фона */
html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  min-height: 100vh !important;
  background-color: #f8f8f8 !important;
  margin: 0 !important;
  padding: 0 !important;
}

@theme {
  --color-bg-primary: #ffd700;
  --color-bg-primary-accent: #1be7be;
  --color-bg-secondary: #f1cf14;
  --color-bg-tertiary: #ffffff;
  --color-bg-white: #ffffff;
  --color-bg-gray: #f8f8f8;
  --color-text-primary: #181818;
  --color-text-secondary: #9a8722;
  --color-text-tertiary: #736728;
  --color-text-alternative-secondary: #8f8f8f;
  --color-text-gray-2: #717171;
  --color-negative: #ff191d;
  --font-space-grotesk: "Space Grotesk", sans-serif;

  --ui-primary: #ffd700;
  --ui-secondary: #ffffff;
  --ui-tertiary: #ffffff;
  --ui-bg-tertiary: #1be7be;
  --ui-text-tertiary: #1be7be;
}
