@import "tailwindcss";
@import "@nuxt/ui";

@config "./tailwind.config.ts";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* Добавляем шрифт Hector */
@font-face {
  font-family: "Hector";
  src: url("/hector-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Глобальные стили для черного фона */
html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  min-height: 100vh !important;
  background-color: #000000 !important;
  margin: 0 !important;
  padding: 0 !important;
}

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;

  --color-bg-primary: #000000;
  --color-bg-primary-accent: #1be7be;
  --color-bg-secondary: #181818;
  --color-bg-tertiary: #292929;
  --color-bg-white: #ffffff;
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-primary: #1be7be;
  --color-text-secondary: #707070;
  --color-text-tertiary: #a6a6a6;
  --color-negative: #ff191d;

  --ui-primary: #1be7be;
  --ui-secondary: #707070;
  --ui-tertiary: #a6a6a6;
  --ui-bg-tertiary: #292929;
  --ui-text-tertiary: #a6a6a6;
}

:root[class~="dark"] {
  --color-bg-primary: #000000;
  --color-bg-primary-accent: #1be7be;
  --color-bg-secondary: #181818;
  --color-bg-tertiary: #292929;
  --color-bg-white: #ffffff;
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-primary: #1be7be;
  --color-text-secondary: #707070;
  --color-text-tertiary: #a6a6a6;
  --color-negative: #ff191d;

  --ui-primary: #1be7be;
  --ui-secondary: #707070;
  --ui-tertiary: #a6a6a6;
  --ui-bg-tertiary: #292929;
  --ui-text-tertiary: #a6a6a6;
}
